<aside class="sidebar-left">
    <div class="menubar-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Minopus Logo">
    </div>
    <ul class="group-list">
        <li>
            <button class="group-btn">
                <img src="{{ url_for('static', filename='icons/maths-icon.png') }}" alt="Maths Logo" class="group-icon-img">
                <span class="group-label">Maths</span>
            </button>
        </li>
        <li>
            <button class="group-btn">
                <img src="{{ url_for('static', filename='icons/english-icon.png') }}" alt="English Logo" class="group-icon-img">
                <span class="group-label">English</span>
            </button>
        </li>
        <li>
            <button class="group-btn">
                <img src="{{ url_for('static', filename='icons/science-icon.png') }}" alt="Science Logo" class="group-icon-img">
                <span class="group-label">Science</span>
            </button>
        </li>
        <li>
            <button class="group-btn">
                <img src="{{ url_for('static', filename='icons/history-icon.png') }}" alt="History Logo" class="group-icon-img">
                <span class="group-label">History</span>
            </button>
        </li>
    </ul>
</aside>